.panel, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: solid 1px #a6d8a8;
    margin: auto;
    position: relative;
  }
  
.panel {
    display: none;
    top: 40px;
    position: absolute;
}

  /* function myFunction() {
    document.getElementById("panel").style.display = "block"; */

 

.flip:hover .panel {display: block;z-index: 1;}
