.headphone{
display: flex;
/* margin-top: 20px; */
}

.headphone_left{
width: 20%;
height: 100vh;
/* border-right: 2px solid; */
}

.headphone_right{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headphone1 img{
    height: 125px;
    width: 125px;
}

/* .headphone1 h4{
    font-size: 15px;

}

.headphone1_p{
    font-size: 15px;
    color:grey ;
} */

