/* body {
  margin: 0;
  font-family: 'Bungee Shade', 'cursive';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.crsl{

  height: 100px;
  width: 100px;
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
} */